export(cacheObject)
export(extract.flatfile)
export(fmt.v)
export(getMeta)
export(getNames)
export(getPPI)
export(index.flatfile)
export(Latest.STRING.version)
export(makeCache)
export(make.sqlite)
export(www.settings)
export(makePackage)